*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

.descricao{
    text-align: center;
    margin-bottom: 2em;

}

.secao{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 9px;
    display: flex;
    background-color: aqua;
    padding: 10px;
}

.texto{
    flex: 1;/*ocupa espaço restante*/
    padding-right: 20px;/*espaçamento direita para separar da imagem*/
    padding-left: 2em;/* espaçamento interno da esquerda*/
    align-self: center;/*alinhamento do item*/
}

.texto h2{
    line-height: 2em;
    margin-bottom: 1.5em;
}

.texto p{
    line-height: 2em;
    margin-bottom: 1.5em;
}

.imagem{
    flex: 1; /*ocupa o espaço restante*/
    text-align: center; /*centraliza a imagem horizontalmente*/
    align-self: center;  /* alinhamento item */
}

.imagem IMG {
    max-width: 100%; /*garante que a imagem não ultrapasse seu contêiner*/
    height: auto; /* matém a proporção da imagem*/
    border-radius: 8px; /* borda arredondada para a imagem */
}

/*media querypara tornar a seção responsiva*/
@media (max-width: 800px) {
    .secao{
        flex-direction: column;   /*empilha os itens verticalmente em telas menores*/
    }
    .texto, .imagem {
        padding: 10px;  /*espaçamento interno menor para telas menorres*/
    }

}